body {
      overflow: scroll;
      font-family: "Helvetica Neue", Helvetica, 
        Arial, "Microsoft Yahei", "Hiragino Sans GB", 
        "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
.spacefix {
  font-size: 0;
}
.spacefix * {
  font-size: 12px;
}

header {
  width: 100%;
  height: 40px;
  background-color: #333;
  color: #b0b0b0;
  font-size: 12px;
  line-height: 40px;
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    height: 40px;
    span {
      color: #424242;
      margin: 0 .5em;
    }
  }

  a {
    color: #b0b0b0;
    text-decoration: none;
    &:hover {
      color: #fff;
      + span {
        color: #fff;
      }
    }

  }
  > div {
    width: 1226px;
    margin: 0 auto;
    position: relative;
    .header-1 {
      float:left;
    }
    .header-2 {
      float: right;
    }
    .header-3 {
      float: right;
      width: 120px;
      height: 40px;
      display: block;
      margin-left: 25px;
      background-color: #424242;
      text-align: center;
      &:hover ~ .header-4 .header-4-2 {
        height: 98px;
        line-height: 98px;
        font-size: 12px;
        transition: 
          height .2s linear,
          line-height .2s linear,
          font-size .1s .1s linear;
      }
      &:hover ~ .header-4 .header-4-1 {
        opacity: 1;
        transition: opacity 0s;
      }
      a {
        width: 120px;
        height: 40px;
        display: block;
        position: relative;
        svg {
          font-size: 20px;
          position: absolute;
          left: 17px;
          top: 10px;
        }
      }
      span {
        position: relative;
        top: -40px;
        right: -28px;
        pointer-events: none;
      }
    }
    .header-4 {
      width: 120px;
      height: 40px;
      position: relative;
      margin-left: auto;
      &:hover .header-4-2 {
        height: 98px;
        line-height: 98px;
        font-size: 12px;
        transition: 
          height .2s linear,
          line-height .2s linear,
          font-size .1s .1s linear;
      }
      &:hover .header-4-1 {
        opacity: 1;
        transition: opacity 0s;
      }
      .header-4-1 {
        opacity: 0;
        transition: opacity 0s .5s;
        a, span {
          color: #ff6700;
        }
        .header-4-1-1 {
          width: 120px;
          height: 40px;
          position: absolute;
          right: 0;
          top: 0;
          background-color: #fff;
          color: #ff6700;
          text-align: center;
          svg {
            font-size: 20px;
            position: absolute;
            left: 17px;
            top: 10px;
          }
          
          + span {
            display: block;
            position: relative;
            top: -40px;
            right: -81px;
            pointer-events: none;
            color: #ff6700;
          }
        }      
      }
        .header-4-2 {
            width: 316px;
            height: 0px;
            box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
            position: absolute;
            right: 0;
            top: 40px;
            line-height: 0px;
            font-size: 0px;
            color: #333;
            text-align: center;
            background-color: #fff;
            z-index: 200;
            transition: 
              height .2s .3s linear,
              line-height .2s .3s linear,
              font-size .1s .3s linear;
        }
      }
    }
  
  li {
    display: inline;
  }
}

.s1 {
  width: 1226px;
  height: 55px;
  margin: 22px auto 0;
  position: relative;
  .s1-div {
    display: inline-block;
    width: 62px;
    height: 55px;
    a {
      width: 55px;
      height: 55px;
      display: inline-block;
      background-color: #ff6700;
      background-image: url(mi-logo.png);
      background-position: 3px 3px;
    }
  }
  ul {
    position: relative;
    list-style: none;
    padding-left: 0;
    display: inline-block;
    margin: 0 0 0 167px;
    vertical-align: top;
    font-size: 0;
    li {
      float:left;
      line-height: 55px;
      color: #333;
      font-size: 16px;
      padding: 0 10px;
      &:nth-child(1):hover ~ main .main-1,
      &:nth-child(2):hover ~ main .main-2,
      &:nth-child(3):hover ~ main .main-3,
      &:nth-child(4):hover ~ main .main-4,
      &:nth-child(5):hover ~ main .main-5,
      &:nth-child(6):hover ~ main .main-6,
      &:nth-child(7):hover ~ main .main-7,
      &:nth-child(8):hover ~ main .main-8, {
        height: 230px;
      }
      a {
        text-decoration: none;
        &:visited, &:link {
          color: #333;
        }
        &:hover {
        color: #ff6700;
        }
      }
    }
    main {
        height: 230px;
        min-width: 100vw;
        position: absolute;
        top: 78px;
        left: -234px;
        div {
          height: 230px;
          min-width: 100vw;
          overflow: hidden;
          xborder-top: 1px solid #dfdfdf;
          position: absolute;
          height: 0px;
          &:hover {
            height: 230px;
          }
          ul {
            position: relative;
            margin: 0;
            padding: 0;
            list-style: none;
            li {
              height: 229px;
              width: 206px;
              float: left;
              box-sizing: border-box;
              padding: 0 23px;
              position: relative;
              &:nth-last-child(n + 2)::after {
                content: '';
                height: 100px;
                width: 1px;
                background-color: #dfdfdf;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
              }
              a {
                display: block;
                height: 110px;
                width: 130px;
                position: absolute;
                margin: auto;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                img {
                  height: 110px;
                  width: 130px;
                }
              }
            }
          }
        }
      }

  }
  form {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 296px;
    height: 50px;
    border: 1px solid #e0e0e0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;
    transition: all .2s;
    &:hover, &:hover label {
      border-color: #b0b0b0;
    }
    input {
      box-sizing: border-box;
      width: 244px;
      height: 48px;
      outline: none;
      padding: 0 10px;
      border: none;
    }
    label {
      display: inline-block;
      box-sizing: border-box;
      width: 50px;
      height: 48px;
      border-left: 1px solid #e0e0e0;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      color: #616161;
      transition: all .2s;
      &:hover {
        background: #ff6700;
        color: #fff;
      }
      svg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        font-size: 16px;
      }
    }
    button {
      display: none;
    }
    div {
      height: 21px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 62px;
      margin: auto;
      font-size: 0;
      a {
        line-height: 21px;
        font-size: 12px;
        background: #eee;
        color: #757575;
        margin-left: 5px;
        padding: 0 5px;
        text-decoration: none;
        transition: all .2s;
        &:hover {
          background: #ff6700;
          color: #fff;
        }
      }
    }
  }
  // main {
  //   height: 230px;
  //   min-width: 100vw;
  //   position: relative;
  //   top: 23px;
  //   div {
  //     xheight: 230px;
  //     min-width: 100vw;
  //     overflow: hidden;
  //     xborder-top: 1px solid #dfdfdf;
  //     position: absolute;
  //     height: 0px;
  //     ul {
  //       position: relative;
  //       margin: 0;
  //       padding: 0;
  //       list-style: none;
  //       li {
  //         height: 229px;
  //         width: 206px;
  //         float: left;
  //         box-sizing: border-box;
  //         padding: 0 23px;
  //         position: relative;
  //         a {
  //           display: block;
  //           height: 110px;
  //           width: 130px;
  //           position: absolute;
  //           background-color: red;
  //           margin: auto;
  //           top: 0;
  //           bottom: 0;
  //           right: 0;
  //           left: 0;
  //           img {
  //             height: 110px;
  //             width: 130px;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}