html, body {
  margin: 0px;
  color: #00343F;
  height: 100%;

}
header {
  box-sizing: border-box;
  height: 100px;
  border-bottom: 2px solid #011935;
  background: #1DB0B8;
}

aside {
  box-sizing: border-box;
  width: 220px;
  height: calc(100% - 100px);
  border-right: 2px solid #011935;
  background: #37C6C0;
}

main {
  margin-left: 220px;
  margin-top: calc(100px - 100vh);
  height: calc(100% - 100px);
  background: #D0E9FF;
}

p {
  margin: 0px;
}
