body {
  border: 2px solid;
  margin: 0px;
  color: #00343F;
}

header {
  border: 2px solid #011935;
  height: 100px;
  width: 100%;
  margin: -2px -2px 0px -2px;
  background: #1DB0B8;

}

aside {
  border: 2px solid #011935;
  width: 220px;
  height: calc(100vh - 108px);
  margin: -2px 0px -2px -2px;
  background: #37C6C0;
}

main {
  border: 2px solid #011935;
  height: calc(100vh - 108px);
  width: calc(100% - 222px);
  margin-left: 220px;
  margin-top: calc(104px - 100vh);
  margin-bottom: 0px;
  background: #D0E9FF;
}
